@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0; 
    padding: 0; 
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "DM Sans", sans-serif;
    background-color: #f2f2f7
}

#container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f7;
    margin: 0 auto;
    width: 500px;
    position: relative;
    box-shadow: 10px 5px 30px 20px rgba(0, 0, 0, 0.2), -10px -5px 30px 20px rgba(0, 0, 0, 0.2);
}
.loader{
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;  
}
/****DEBUT DU HEADER****/
header {
    display: flex;
    flex-direction: column;
}

.header_text {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    height: 10dvh;
}

.header_line {
    background-color: #e8e2da;
    width: 100%;
    height: 1px;
}

header .back_btn {
    color: #938f98;
    font-size: 13px;
    cursor: pointer;
}

header .title {
    font-weight: bolder;
}

header .date {
    color: #e7486c;
    background-color: #fff0f3;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bolder;
    padding: 2px 10px;
    display: flex;
    align-items: center;

}

/*******FIN DU HEADER*********/

/*********DEBUT DU MAIN******/
main {
    padding-top: 24px;
    display: flex;
    flex: 1;
    flex-direction: column;
   
}

.program_container {
    background-color: #290e2a;
    display: flex;
    border-radius: 20px;
    padding: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.program {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.program_leftside_icon {
    width: 30px;
    height: 30px;
}

.program_leftside {
    display: flex;
    gap: 13px;
}

.program_icon_background {
    background-color: #2e1d2d;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.program_name {
    color: #e11d48;
    font-weight: 600;
    font-size: 12px;

}

.program_description {
    color: #7f737e;
    font-size: 13px;
    font-weight: 600;
}

.deposit_btn {
    background-color: #e11d48;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    box-shadow: 2px 2px 10px rgba(225, 29, 72, 0.5); 
    margin-top: 12px;
    border-radius: 15px; 
    display: flex;
    justify-content: center;
    gap: 7px;
    padding: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px; 
    border: none;
}
.deposit_btn:disabled{
    background-color: #e11d48;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    box-shadow: 2px 2px 10px rgba(225, 29, 72, 0.5);
    margin-top: 12px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding: 16px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    cursor: not-allowed;
    opacity: 0.6;
    border: none;
}
.deposit_btn:active{
    transform: scale(0.96);
}
.category_propositions_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    max-height: 359px;
    overflow-y: auto;
    padding-bottom: 20px;
}
.offline_notice_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    padding-top: 50px;
    font-size: 13px;
    color: #7f737e;
}
.retry_btn{
    border: none;
    background-color: white;
    width: fit-content;
    border-radius: 9px;
    padding: 8px 17px;
    font-weight: 600;
    cursor: pointer;
    border: solid 1px #7f737e;
    font-size: 12px;
}
.category_propositions_container::-webkit-scrollbar {
    width: 4px;
}

.category_propositions_container::-webkit-scrollbar-track {
    background: none;
    border-radius: 10px;
}

.category_propositions_container::-webkit-scrollbar-thumb {
    background: none;
    border-radius: 10px;
} 
.no_proposition{
    display: flex;
    align-self: center;
    color: #7f737e;
}

.upload_films_container{
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.1); 
    animation: slideup 0.4s ease-in-out backwards;
}
@keyframes slideup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.upload_films_container:nth-child(1){
    animation-delay: 0.1s;
}
.upload_films_container:nth-child(2){
    animation-delay: 0.2s;
}
.upload_films_container:nth-child(3){
    animation-delay: 0.3s;
}
.upload_films_container:nth-child(4){
    animation-delay: 0.4s;
}
.upload_films{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
.filmsandpicture{
    display: flex;
    gap: 20px;
}
.upload_films_description{
    display: flex;
    flex-direction: column;
    color: #7f737e;
    font-size: 15px;
    gap: 6px;
}
.upload_films_description .film_title{
    color: black;
    font-weight: 600; 
    font-size: 16px;
}
.upload_films_description .film_user{
    font-weight: 300;
}
.upload_films_container .film_pitch{
    font-style: italic;
}
.upload_films_pictures{
    width: 60px;
    height: 80px;
    border-radius: 10px;
}
.film_director_container{
    font-weight: 430;
}
.film_user_container{
    display: flex;
    gap: 10px;
}
.avatar_background img{
    width: 23px;
    height: 23px;
    border-radius: 100%;
}
.trailer{
  display: flex;
  border: solid 1px #f2f2f7;
  border-radius: 10px;
  padding: 7px 11px;
  align-items: center;
  width: fit-content;
  gap: 7px;
  cursor: pointer;
}
.trailer img{
    width: 12px;
    height: 12px;
}
.trailer span{
    color: black;
    font-size: 13px;
    font-weight: 600;
}
.updatefilm_btn{
    color: #e11d48;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
    background-color: white;
    border: solid 1px #7f737e;
    border-radius: 20px;
    padding: 8px;
    width: 170px;
    cursor: pointer;
}
.updatefilm_btn:hover{
    background-color: rgba(225, 29, 72, 0.1);
}
.themes_registered {
    padding-top: 10px;
    color: #9b97a0;
    font-weight: bolder;
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

.depositfilm_modal_background{
    width: 500px;
    height: 100dvh;
    inset: 0;
    display: none;
    position: fixed;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    
}
@keyframes slideUp{
    from{
        height: 500px;
    } to{
        height: 552px;
    }
}
.depositfilm_modal_container{
    background-color: black;
    color: white;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-top-left-radius: 20px;
    position: absolute;
    width: 100%;
    height: 552px;
    overflow-y: scroll; 
    bottom: 0; 
    animation: slideUp 0.3s ease-in-out;
}

.depositfilm_modal_line{
    height: 3px; 
    border-radius: 10px;
    width: 40px;
    background-color: #7f737e;
    display: flex;
    align-self: center;
    z-index: 10;
}
.depositfilm_modal_title{
    font-weight: bold;
    font-size: 17px;
}
.depositfilm_modal{
    color: #7f737e;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 25px;
}
.input_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.input_container label, .input_container span{
    font-size: 12px;
    font-weight: bold;
}
.input_container img{
    width: 50px;
    height: 50px;
}
.deposit_input{
    background-color: #2a2037;
    color: #A29AA0;
    outline: none;
    border: none;
    padding: 20px 10px;
    border-radius: 10px;
    border: solid 2px #6A636D;
}

.deposit_input:focus{
    border: solid 1px red;
}
.poster_label{
    background-color: #2a2037;
    color: #A29AA0;
    outline: none;
    border: none;
    padding: 8px 10px;
    border-radius: 10px;
    border: dashed 2px #6A636D;
    cursor: pointer;
}
.poster_icon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.poster_icon img{
    width: 20px;
    height: 20px;
}
.poster_icon img.active{
    width: 60px;
    height: 80px;
    border-radius: 5px;
}
.poster_icon span{
    font-size: 15px;
    font-weight: lighter;
}
.poster_background{
    background-color: #6A636D;
    width: 60px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#poster{
    display: none;
}
.posterErrorMsg{
    font-size: 13px;
    font-weight: bolder;
    color: #851739;
}
.films_suggestions{
    display: flex;
    flex-direction: column;
    background-color: #2a2037;
    border-radius: 10px;
    border: solid 1px #6A636D;
    max-height: 200px;
    color: white;
    overflow-y: scroll;
    margin-top: 5px;
}
.film_poster{
    width: 50px;
    height: 50px;
}
.film_option{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    cursor: pointer;

}
.film_option:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.filmoption_rightside{
    display: flex;
    align-items: center;
    gap: 20px;
}
.filmoption_line{
    height: 1px;
    background-color: #6A636D;
    width: 100%;
}
.version_btn{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.version_btn button{
    background-color: #2a2037;
    color: #ffffff;
    border: none;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    border: solid 2px #6A636D;
    cursor: pointer;
}

.vf.active{
    background-color: rgba(225, 29, 72, 0.5);
    border:solid 1px red;
}
.vostfr.active{
    background-color: rgba(225, 29, 72, 0.5);
    border:solid 1px red;
}
.input_container textarea{
    color: #A29AA0;
    outline: none;
    border: none;
    border-radius: 10px;
    resize: none;
    border: solid 2px #6A636D;
    padding-bottom: 50px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #2a2037
}

.input_container textarea:focus{
    border: solid 1px red;
}
.upload_btn{
    background-color: #e11d48;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.upload_btn:disabled{
    background-color: #e11d48;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px; 
    font-weight: bold; 
    font-size: 15px;
    cursor: not-allowed;
    opacity: 0.6;
}

.snackbar {
    position: fixed;
    left: 50%;
    top: 100px;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #34c494;
    color: white;
    width: fit-content;
    opacity: 0;
    transform: translate(-50%, 0);
    transition: transform 0.3s ease;   
    visibility: hidden; 
    text-align: center;
}

.snackbar.active {
    display: flex;  
    opacity: 1;
    transform: translate(-50%, 10px);
    visibility: visible;
}

/******DEBUT DU FOOTER*****/
footer{
    display: flex;
    justify-content: space-between;
    background-color: #290e2a;
    padding: 8px 20px;
    color: #9b97a0;
}
.footer_category{
    display: flex; 
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.footer_category img{
    width: 20px;
    height: 20px;
}
.footer_category span{
    font-weight: 600;
    font-size: 12px; 
}
