@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "DM Sans", sans-serif;
}

#container {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f7;
    margin: 0 auto;
    width: 500px;
}

/******DEBUT DU HEADER*******/
header {
    display: flex;
    background-color: #ffffff;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

header .back_btn {
    color: #938f98;
    font-size: 13px;
    cursor: pointer;
}

header .title {
    font-weight: bolder;
}

header .date {
    color: #5d99f7;
    background-color: #eff6ff;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bolder;
    padding: 2px 10px;
    display: flex;
    align-items: center;

}

/*******FIN DU HEADER*********/

/*********DEBUT DU MAIN******/
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

.program_container {
    background-color: #0b1837;
    display: flex;
    border-radius: 20px;
    padding: 16px;

}

.program {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.program_leftside {
    display: flex;
    gap: 15px;
}

.program_leftside_icon {
    width: 30px;
    height: 30px;
}

.program_leftside {
    display: flex;
    gap: 13px;
}

.program_icon_background {
    background-color: #1f263a;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}

.program_name {
    color: #316dce;
    font-weight: 600;
    font-size: 11px;
}

.program_description {
    color: #7f737e;
    font-size: 13px;
    font-weight: 600;
}

.deposit_btn {
    background-color: #3b82f6;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    width: 50%;
    box-shadow: 2px 2px 10px rgba(59, 130, 246, 0.5);
    margin-top: 12px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    padding-top: 16px;
    padding-bottom: 16px;
    cursor: pointer;
}

.themes_registered {
    padding-top: 10px;
    color: #9b97a0;
    font-weight: bolder;
    font-size: 13px;
}

.category_propositions_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

.category_proposition {
    display: flex;
    border-radius: 20px;
    background-color: #ffffff;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.category_prop_icon {
    width: 18px;
    height: 18px;
}

.category_icon_background {
    background-color: #eff6ff;
    border-radius: 10px;
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proposition {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    color: #9b97a0;
    font-size: 14px;
    padding-left: 10px;
    gap: 3px;
}

.category_name {
    font-weight: bolder;
    color: black;
}

.proposition .comment {
    font-style: italic;

}

.proposition_user {
    display: flex;
    gap: 5px;

}

.proposition_user_photo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cff1e6;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    color: #34c494;
    font-size: 10px;
}
.no_proposition{
    color: #7f737e;
    display: flex;
    justify-self: center;
    align-self: center;
}
 
/******DEBUT DU FOOTER*****/
footer{
    display: flex;
    justify-content: space-between;
    background-color: #0b1837;
    padding: 8px 20px;
    color: #9b97a0;
}
.footer_category{
    display: flex; 
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.footer_category img{
    width: 20px;
    height: 20px;
}
.footer_category span{
    font-weight: 600;
    font-size: 12px; 
}